<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>First App</title>
  </head>
  <body>
    
    <div id="app">
      <div>
        <h4 class="title">{{ title }}</h4>
        <input type="text" id="goal" v-model="enteredValue" placeholder="Task">
        <button class="btn dark" v-on:click="addGoal">Add Task</button>
      </div>
        <ul>
          <li v-for="goal in goals">{{ goal }}</li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="index.js"></script>
  </body>
</html>
